<!--sidebar-->
<c-sidebar
  #sidebar="cSidebar"
  class="d-print-none sidebar sidebar-fixed"
  id="sidebar"
  visible
>
  <c-sidebar-brand
    [brandFull]="{
      src: 'assets/img/brand/coreui-pro-angular-white.svg',
      width: 190,
      height: 35,
      alt: 'CoreUI Logo'
    }"
    [brandNarrow]="{
      src: 'assets/img/brand/coreui-signet-white.svg',
      width: 46,
      height: 46,
      alt: 'CoreUI Logo'
    }"
    routerLink="./"
  > <!---->
  </c-sidebar-brand>
    <perfect-scrollbar [config]="perfectScrollbarConfig">
  <!--  [perfectScrollbar]="perfectScrollbarConfig"-->
  <c-sidebar-nav>
      <!-- Guid d'uilistation -->
      <h3 style="text-align: center; margin-top: 10px;">Guide d'uilisation</h3>
      <p style="text-align: justify; margin: 22px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce finibus dignissim est eget tristique. Ut vulputate, ex et rutrum luctus, tellus tellus molestie erat, sed interdum lacus mi sit amet nunc. Duis suscipit venenatis felis, eu rutrum arcu imperdiet in. Nullam ac diam a libero blandit ullamcorper. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nulla sit amet tellus sagittis, viverra ipsum ac, ultrices augue. Mauris nec suscipit libero.</p>
  </c-sidebar-nav>
    </perfect-scrollbar>
</c-sidebar>

<!--main-->
<div class="wrapper d-flex flex-column min-vh-100 bg-light dark:bg-transparent">
  <!--app-header-->
  <app-default-header class="mb-4 d-print-none header header-sticky" position="sticky" sidebarId="sidebar"></app-default-header>
  <!--app-body-->
  <div class="body flex-grow-1 px-3">
    <c-container breakpoint="lg" class="h-auto">
      <router-outlet></router-outlet>
    </c-container>
  </div>
  <!--app footer-->
  <app-default-footer></app-default-footer>
</div>
