<div *ngIf="viewMode; else editable_sport">
  <div *ngIf="currentSport.id">
    <h4>Sport</h4>
    <div>
      <label><strong>id:</strong></label>
      {{ currentSport.id }}
    </div>
    <div>
      <img src="{{ currentSport.sportImage }}" style="height: 150px" />
    </div>
    <div>
      <label><strong>Title:</strong></label> {{ currentSport.name }}
    </div>
    <div>
      <label><strong>Description:</strong></label>
      {{ currentSport.discription }}
    </div>
    <div>
      <label><strong>categorie:</strong></label>
      {{ currentSport.categorie }}
      <a
        class="badge badge-warning"
        style="color: black"
        routerLink="/sport-list/{{ currentSport.id }}"
      >
        Edit
      </a>
    </div>
  </div>
  <div *ngIf="!currentSport">
    <br />
    <p>Please click on a Sport...</p>
  </div>
</div>
<ng-template #editable_sport>
  <div *ngIf="currentSport.id" class="edit-form">
    <h4>Sport</h4>
    <form>
      <div class="form-group">
        <label for="title">Name</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentSport.name"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="description">discription</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentSport.discription"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="description">categorie</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentSport.categorie"
          name="description"
        />
      </div>
      <div class="form-group" style="display: none">
        <input
          type="file"
          #fileUpload
          id="fileUpload"
          name="fileUpload"
          [(ngModel)]="currentSport.sportImage"
          accept="image/*"
        />
        <button mat-button color="warn" (click)="onClick()">
          Upload Image
        </button>
      </div>
    </form>
    <button class="badge badge-danger mr-2" (click)="deleteSport()">
      Delete
    </button>
    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateSport()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>
  <!-- upload image -->
  <form [formGroup]="form" (ngSubmit)="onClick()">
    <input
      type="file"
      #fileUpload
      id="fileUpload"
      name="fileUpload"
      accept="image/*"
      style="display: none"
    />
    <button mat-button color="warn">Upload Image2</button>
  </form>
  <!-- end upload image -->
  <div *ngIf="!currentSport.id">
    <br />
    <p>Cannot access this Tree...</p>
  </div>
</ng-template>
