
<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form class="tree_add_form" cForm [formGroup]="add_tree_Form" (ngSubmit)="onSubmitAddTree()"> 
                  <h1>Tree</h1>
                  <p class="text-medium-emphasis">Ajouter une nouvelle arbre</p>   
                    <input  formControlName="name"
                      autoComplete="current-password"
                      cFormControl
                      placeholder="Nom"
                      type="text"
                    />
                    <input 
                    autoComplete="discription" 
                    formControlName="discription" 
                    cFormControl placeholder="Discrtiption" 
                    type="text"
                    class="input_margin"
                    />
                    <input 
                    autoComplete="historique" 
                    formControlName="historique" 
                    cFormControl placeholder="historique" 
                    type="text"
                    /> 
                  <c-row>
                    <c-col xs="6">
                      <button style="margin-top: 15px;" cButton class="px-4" color="primary">
                        Ajouter
                      </button>
                    </c-col>
                  </c-row>
                </form>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>