<div class="container">
    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Bird list</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a routerLink='/bird-details'>Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Tree list</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a routerLink='/tree-details'>Read More</a>
        </div>
      </div>
    </div>
  
    <div class="card">
      <div class="box">
        <div class="content">
          <h3>Sport list</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
          <a href="#">Read More</a>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="box">
          <div class="content">
            <h3>Handicap list</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, totam velit? Iure nemo labore inventore?</p>
            <a href="#">Read More</a>
          </div>
        </div>
      </div>
  </div>



<h4 class="card-title mb-0" id="traffic">
    Traffic
</h4> <a routerLink='/admin'>Admin</a>
<a routerLink='/login'>login</a>
<p><a routerLink='/add-tree'>add Tree</a></p>
<p><a routerLink='/tree-details'>TreeDetails</a></p>
<p><a routerLink='/addBird'>add Bird</a></p>
<p><a routerLink='/bird-details'>Bird-list</a></p>



